.grid__wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 1rem;
    margin-bottom: 2rem;
    padding: 0 10px;
    
}

.shop__container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #f4f4f6;
    padding: 1rem 0;
    border-radius: 0.3rem;
    height: auto;
    
}

.laptop__img {
    display: block;
    width: 80%;
    height: 300px;
    object-fit: contain;
    transition: all 0.4s;
    margin: 1rem auto 0 auto;
    /*height: 70%;*/
    
}

.laptop__img:hover {
    transform: scale(1.05);
}

.product__text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    text-align: left;
    margin-top: 2.5rem;
}
.product__text h3 {
    font-size: 1.2rem;
    
}
.product__text h5 {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-top: 0.6rem;
    font-weight: 400;
}
.product__text h4 {
    font-size: 1.5rem;
    margin-top: 0.6rem;
    color: #D10024;
    
}

.shop__products button {
    position: relative;
    background-color: transparent;
    border: 1.5px solid #15161D;
    color: #15161D;
    padding: 10px;
    width: 120px;
    margin-bottom: 5px;
    overflow: hidden;
}

.shop__products button:after {
position: absolute;
content: 'See All';
width: 120px;
height: auto;
background-color: #15161D;
color: #fff;
top: 0;
left: 0;
right: 0;
bottom: 0;
inset: 0;
text-align: center;
transform: translateX(-100%);
transition: all 0.3s;
display: flex;
align-items: center;
justify-content: center;
}

.shop__products button:hover:after{
    transform: translateX(0);
    color: #fff;
}
