/*.login{
    display: flex;
    align-items: center;
    
    gap:0 2rem;
    
}*/

.login{
    display: flex;
    align-items: center;
    gap: 5em;
    overflow: hidden;
    padding-bottom: 2rem;
}

.animated img {
    width: 90%;
    height: 100%;
}
.login h3 {
    display: block;
    text-align: center;
    margin: auto;
}

.login__form .main__input input {
    display: block;
    width: 100%;
    height: 50px;
    margin-top: 2rem;
    padding: 10px;
    outline-color: #2B2D42;
}

.login__form .checkbox__field,.login__form label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0;
    gap: 5px;

}
.login__form button {
    display: block;
    width: 450px;
    height: 60px;
    margin:1.5rem auto;
    border: none;
    background-color: #2B2D42;
    color: #fff;
    font-weight: 600;

}

.google__btn {
    display: flex;
    background-color: #f4f1ed!important;
    color: #2B2D42!important;
}

.slider__container {
    background-color: #f4f1ed;
    width: 50%;
    height: 650px;
    text-align: center;
}

.login__text {
    margin-top: 2rem;
}

.google-logo {
    width: 6rem;
    margin-right: -1.3rem;
}

.img__file {
    margin: 10px 0;
}
@media screen and (max-width:960px) {
    .login{
        display: flex;
        gap: 1rem;
        flex-direction: column;
    }

    .animated img{
        display: block;
        margin: auto;
        width: 50%;
    }

    .slider__container {
        width: 100%;
        height: 100%;
    }

    
}

@media screen and (max-width:500px) {
    .login__form button {
        display: block;
        width: 90%;
        margin-top: 10px;
        
    
    }
    .login__form .checkbox__field,.login__form label {
        padding: 10px;
        margin-top: 10px;

    
    }
    .login__form .main__input input {
        display: block;
        width: 300px;
        margin:2rem 1rem 0rem 1rem ;
        padding: 10px;
        outline-color: #2B2D42;
    }

    .last--text {
        font-size: 1rem;
}

    .last--text span {
        margin-left: 10px;
    }
    
    
}
