.top-selling-content {
    text-align: center;
    padding: 1rem;
    
}
.top-selling{
    border: 1px solid #E4E7ED;
    border-radius: 0.3rem;
    transition: all 0.3s ease-in-out;
    
    
}

.top-selling:hover {
    transform: scale(1.05);
}

.top-selling-content .slick-list {
    margin: 0 -5px;
    overflow: hidden;
}

/* This is a classname from slick to add margin to the slides*/
 .top-selling-content .slick-slide > div {
    padding: 0 7px;
    /*overflow: hidden;*/
}


.deal__img {
    width: 100px;
    height:150px;
    object-fit: contain;
    margin: auto;
}

